#game-play #game-lottery,
#lottery-dom #game-lottery{background-color:rgba(250, 222, 195,.95);min-height:80px;padding-bottom:0;border-bottom:2px solid #fffaf5;}
#game-play #game-lottery{min-height:60px;border-bottom:none;}
#lottery-dom .body{padding:10px;}

#game-play .info,
#lottery-dom #game-lottery  .info{height:20px;line-height:20px;position:absolute;top:55px;right:88px;}
#game-play .info{cursor:pointer;top:20px;}

#lottery-dom #game-lottery  .info .name{color:#35928f;font-size:1.7em;float:left}
#game-play #game-lottery .lottery-container .name{font-size:12px;}
#kjsay{position:absolute;left:50%;top:-12px;border-radius:2px;padding:2px 10px;background-color:#f07a64;font-size:1.3em;color:#fff;margin-left:-66px;width:130px;text-align:center}
#lottery-dom #game-lottery  .info a{float:left;margin-left:15px;border-right-width:2px}
#lottery-dom #game-lottery  .block{background-color:#fdd6af;border:4px solid #F9F9F9;float:left}
#lottery-dom #game-lottery  .last{width:266px;border-right-width:0}

#game-play #game-lottery .current,
#lottery-dom #game-lottery  .current{width:auto;}
#game-play #game-lottery .current .kj-hao em,
#lottery-dom #game-lottery  .current .kj-hao em{background-color:rgba(255,255,255,.5);border-radius:50px;border:1px solid #fff;text-align:center;float:left;}
#game-play #game-lottery .current .kj-hao em{background:none;border:none;}
#lottery-dom #game-lottery  .current .num_right{padding:8px 43px 0 57px;height:53px}
#lottery-dom #game-lottery  .current .num_right em{font-size:38px;line-height:50px;width:50px;height:50px;margin-right:10px}
#game-play #game-lottery .current .num_right_k3{margin:5px auto 0 7px; float:left;background:#f07a64;padding:2px 9px;}
#lottery-dom #game-lottery  .current .num_right_k3{width:150px;margin:20px auto 0;}
#game-play #game-lottery .current .num_right_k3 em{line-height:15px;height:15px;width:20px;font-size:15px;color:#fff;}
#lottery-dom #game-lottery  .current .num_right_k3 em{ line-height: 30px;height: 30px;width: 30px;margin-right: 10px;font-size: 20px;color:red;}


#group_list{font-size:1.3em;height:60px;margin-left:0.2em;}
#group_list li{float:left}
#group_list a{float:left;height:30px;line-height:30px;color:#fafafa;padding:0 10px;}
#group_list a:hover{background-color:rgba(85,85,85,.5)}
#group_list a.on{background-color:rgba(243,233,216,.99);color:#000}

#game-play .group{background-color:rgba(12,9,9,.7);height:auto;}
#game-play .group .name{background-color:#ef9f50;color:#fff;height:30px;line-height:30px;font-size:1.6em;padding:5px 0px 5px 5px;}

#game-play #game-lottery .name{height:20px;line-height:20px;font-size:12px;padding:5px 0px 5px 5px;}

#game-play #game-lottery .current,
#game-play #game-lottery .last{height:26px;line-height:26px;color:#000;padding-left:20px;}
#game-play #game-lottery .last.float{position:absolute;top:4px;right:5px;text-align: center;}
#game-play #game-lottery .last.float #kjsay{position:static;float:right;padding:2px 20px;font-size:1.3em;border-radius:2px;width:auto;}
#game-play #game-lottery .time_tip,
#game-play #game-lottery .name_tip{float:left;font-size:12px;}

#timer_lottery{height:16px;line-height:13px;padding:1px 4px;float:left;text-align: center;}
#timer_lottery div{float:left}
#timer_lottery .number{float:left;font-size:12px;height:20px;line-height:20px;width:8px;color:#fff;}
#timer_lottery .sep:before{content:'\3a';font-size:12px;margin-right:2px;color:#fff;}
#game-play .loading{background:url(../image/loading-lottery.gif) no-repeat;background-size:30px 30px;height:30px;padding-left:30px;line-height:30px;color:#555;margin:0 5px;font-size:12px;}
.lottery-container #timer_lottery{margin:10px auto; background:red; padding:5px 30px;}
#game-play #game-lottery .lottery-container #timer_lottery{margin:5px auto 0 10px; background:#f07a64; padding:2px 10px;}

#game-play .play .play-list{background-color:rgba(242,231,211,.75);padding:15px}
#game-play .play .play-list a{background-color:rgba(255,255,255,.5);border-radius:2px;border:1px solid #fff;padding:3px 10px;color:#666;margin-right:1em;}
#game-play .play .play-list a:hover{background-color:rgba(255,255,255,.75);color:#555}
#game-play .play .play-list a.on{background-color:#fdd6af}
#game-play .play .play-info{background-color:rgba(242,231,211,.75);border-top:1px solid #f0e0cf;color:#000;padding:15px;border-bottom:1px solid #f0e0cf;font-size:1.2em;}
#game-play .play .play-info .help .btn{padding:2px 7px}
#game-play .play .play-info .help .btn .showeg:before{margin:0 3px 0 0}
#game-play .play .play-info .help .btn .icon-help:before{font-size:1.2em}
#game-play .play .play-info .play-eg{position:absolute;z-index:99;text-align:left;width:260px;padding:10px;background:rgba(86,86,86,.9);line-height:20px;color:#e5e5e5;border-radius:2px}
#game-play .play .play-select{background-color:rgba(250,246,239,.75);padding:15px 10px;}
#num-select .pp{margin-bottom:1em;padding:1em;height:2em;}
#num-select .pp.pp_fix_1{height:auto}
#num-select .pp.pp_fix_2{height:77px}
#wei-shu{height:23px;line-height:23px;margin-bottom:10px}
#num-select .dantuo{margin-bottom:10px;font-size:1.3em}
#wei-shu label,#num-select .dantuo label{cursor:pointer;margin-right:5px}
#wei-shu input,#num-select .dantuo input{vertical-align:-2px;}
#digit_select_all{padding:2px 10px;margin-left:15px}
#textarea-code{height:60px;padding:10px;width:898px;border:5px solid #f4ede1;border-radius:3px 3px 0 0;display:block;color:#777;line-height:22px}
#clear_num_func{background-color:#f4ede1;border-radius:0 0 3px 3px;display:block;color:#000;font-size:1.5em;padding:5px 0 10px;text-align:center}
#clear_num_func:hover{color:#666}
#num-select .pp .title,#num-select .pp ._title{float:left;background-color:rgba(255,255,255,.5);height:28px;line-height:28px;border:1px solid #ddd;border-radius:2px;width:50px;text-align:center;font-size:1.3em;margin-right:8px;color:#000;position:relative}
#num-select .pp .title.m,#num-select .pp ._title.m{width:50px;}
#num-select .pp .code{float:left;margin-right:6px;width:30px;height:30px;line-height:2px;text-align:center;border:1px solid #ddd;cursor:pointer;background-color:rgba(255,255,255,.5);border-radius:50%;font-size:1.2em;color:#000;}
#num-select .pp.l3 .code{width:40px;font-size:1.2em}
#num-select .pp.lm .code{width:auto;border-radius:2px;padding:0 10px}
#num-select .pp.c20{padding:2px 0;height:11em;}
#num-select .pp.c20 .title{height:30px;line-height:30px;}
#num-select .pp.c20 .code{font-size: 1.1em;margin-right:2px;width:2.8em;height:2.8em;line-height:2.6em;}
#num-select .pp.c20 .action{height:30px;line-height:28px;}
#num-select .pp.cm{height:auto;margin-bottom:4px}
#num-select .pp.cm .code{margin-bottom:6px}
#num-select .pp.cm .action{position:absolute;bottom:6px;margin:0}
#num-select .pp .code:hover,#num-select .pp .action:hover{background-color:#eee}
#num-select .pp .code.checked,#num-select .pp .action:active{background-color:#f5b678;border-color:#ecac6d}
#num-select .pp .code.checked{color:#fffaf5}
#num-select .pp .action{float:left;border-radius:2px;background-color:rgba(255,255,255,.5);height:32px;line-height:30px;border:1px solid #ddd;padding:0 10px;color:#000;cursor:pointer;margin-right:3px;font-size:1.2em}


#num-select .pp .lists{width:100%;float:left;margin-bottom:1em;}
#num-select .pp .lists.act{margin-top:1.2em;}

#play-work-opt,
#play-work-bet,
#play-work-setting{background-color:rgba(250,246,239,.75);padding:10px 15px;color:#000;height:35px;border-top:1px solid #f4ede1;}
#fandian-value .text{padding:7px 27px;width:176px;background-color:#fadec3;border:2px solid #f9f9f9}
#fandian-value .cs-select span{width:176px;text-align:center}
#play-mod{width:190px}
#play-mod,#beishu-warp{padding-left:10px;line-height:31px;height:31px;border:2px solid #f9f9f9;border-left:none;background-color:#fadec3;float:left}
#play-mod .name,#beishu-warp .name{float:left;margin-right:3px}
#play-mod b{float:left;margin-right:9px;font-weight:500;border-radius:50%;background-color:#fdd6af;height:21px;line-height:21px;width:21px;text-align:center;margin-top:4px;color:#888;border:1px solid #f9cfa5;cursor:pointer}
#play-mod b:hover{background-color:#f9cfa5;border-color:#f5c89a}
#play-mod b.on{background-color:#f07a64;border-color:#ea7059;color:#f9f9f9}
#beishu-warp{padding-right:10px;border: 2px solid #f9f9f9;font-size:1.2em;}
#beishu-warp i{border-radius:3px;border:1px solid #cfcfcf;background-color:#f9f9f9;cursor:pointer;height:21px;line-height:21px;float:left;margin-top:5px;color:#000}
#beishu-warp i:before{margin:0;line-height:normal;padding:0 5px}
#beishu-warp i:hover{background-color:#f0f0f0;border-color:#ccc}
#beishu-value{border:1px solid #cfcfcf;background-color:#f9f9f9;width:40px;height:19px;text-align:center;color:#000;border-radius:3px;float:left;margin:5px 5px 0;font-size:1.2em;}
#play-work-opt .opt a{border:2px solid #f9f9f9;float:left;height:31px;line-height:31px;padding:0 30px;border-radius:0;font-size:1.6em;}
#play-work-opt .opt a.del{border-left:none;padding:0 15px;font-size:1.3em;}
#play-work-bet .bet-info{text-align:center;border:2px solid #f9f9f9;background-color:#fadec3;width:160px;color:#000;line-height:31px;padding:0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:1.4em;}
#play-work-bet .bet-info:before{margin:0 3px 0 0}
#play-work-bet .bet-info span{margin-right:5px;color:#f07a64}

#play-work-data{padding:0 15px 15px;background-color: rgba(250,246,239,.75);height:162px}
#bets-cart{border:2px solid #f9f9f9;border-top:none;height:150px;background-color:#faf6ef;width:743px;padding:5px 0;color:#777;float:left;overflow-y:auto}
#bets-cart table tr.head{color:#35928f}
#bets-cart table tr{cursor:pointer}
#bets-cart table tr.choosed{background-color:#d3f9c7}
#bets-cart table td{padding:5px 0;text-align:center}
#bets-cart table td a.del{color:#777}
#bets-cart table td a.del:hover{color:#000}
#play-btn{float:right;width:164px;padding:30px 2px 0 0}
#play-btn .btn{float:left;width:162px;height:32px;line-height:30px;margin-bottom:15px;font-size:1.6em}

#submit-bets .submit-bets-head{height:24px;line-height:24px;background-color:#fadec3;padding:10px}
#submit-bets .submit-bets-title{color:#555;margin-bottom:10px;font-size:1.4em;float:left}
#submit-bets .submit-bets-title .btn{line-height:normal;margin:0 5px;padding:0 4px}
#submit-bets .submit-bets-info{float:right;font-size:1.2em;color:#000}
#submit-bets .submit-bets-info .amount{margin-left:10px}
#submit-bets .submit-bets-info .num{margin:0 5px 0 2px;color:#f07a64}
#submit-bets .submit-bets-body{width:auto;max-height:234px;overflow-y:auto;border:2px solid #fadec3;border-top:none}
#submit-bets .submit-bets-body table{color:#777;font-size:1.2em}
#submit-bets .submit-bets-body table tr.head{color:#35928f}
#submit-bets .submit-bets-body table td{padding:5px 0;text-align:center}

#game-bets .menu{height:36px;background-color:#ecceb1;font-size:1.5em;padding-right:2px;width:auto;}
#game-bets .menu.fixed{position:fixed;top:0;z-index:99}
#game-bets .menu.fixed a .triangle{border-bottom-color:#fff}
#game-bets .menu a{float:left;padding:0 15px;line-height:36px;color:#000;position:relative}
#game-bets .menu a:hover{background-color:#e7c5a4}
#game-bets .menu a.more{background-color:#ecceb1;float:right;color:#000;font-size:1.4em}
#game-bets .menu a.more:hover{color:#777}
#game-bets .menu a .triangle{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #f6e7e8;position:absolute;bottom:0;left:50%;margin-left:-6px;opacity:0}
#game-bets .menu a.on .triangle{opacity:1}
#game-bets .container{background-color:rgba(250,246,239,.75);min-height:40px;padding:10px 5px;margin-bottom:4em;}
#game-bets .container .none{line-height:40px;color:#000;text-align:center}
#my-bets table{color:#777;background-color:rgba(250,222,195,.4);border-left:1px solid #fff;border-bottom:1px solid #fff;font-size:1.2em;}
#my-bets table tr.head{font-weight:700}
#my-bets table td{padding:5px;text-align:center;border-right:1px solid #fff;border-top:1px solid #fff}
#my-bets table td a{color:#35928f;border-bottom:1px dotted transparent}
#my-bets table td a:hover{border-color:#35928f}
#my-bets table td.lotteryNo{max-width:125px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#my-bets table td .t{margin-right:5px;padding:0 3px}

.tips,
#bet-log-dom.common .body{padding:10px 5px;}

.detail table{color:#777;background-color:#faefd4;font-size:1.4em}
.detail table td{padding:7px 5px;text-align:center;border-bottom:1px solid #fff;border-right:1px solid #fff}
.detail table td.k{color:#35928f}
.detail table td .actionData{background-color:#fff;color:#888;max-height:80px;overflow-y:auto;text-align:left;padding:10px;word-wrap:break-word;word-break:break-all}

.money-panel{background-color:#faf6ef;}
.money-panel .main{padding:30px 0;height:43px;margin:0 auto}
#recharge-panel .main{width:678px}
#cash-panel .main{width:844px}
.money-panel .input{border:1px solid #e5e5e5;padding:10px 10px 10px 35px;float:left;background-color:#fdfdfd;border-radius:0 2px 2px 0;position:relative}
.money-panel .input.mr15{margin-right:15px}
.money-panel .input.password{border-left:none}
.money-panel .input.disabled{background-color:#f5f5f5}
.money-panel .input.focus{background-color:#f9f9f9}
.money-panel .input .icon{font-size:1.7em;color:#000;width:15px;height:15px;position:absolute;top:11px;left:15px}
.money-panel .input .icon:before{margin:0}
.money-panel .input input{border:none;background-color:#fdfdfd;color:#000;font-size:1.5em;width:335px;height:19px}
.money-panel .input.password input{width:120px}
.money-panel .input.disabled input{background-color:#f5f5f5}
.money-panel .input.focus input{background-color:#f9f9f9}
.money-panel .type{float:left;border:1px solid #e5e5e5;border-right:none;border-radius:2px 0 0 2px;background-color:#fff;cursor:pointer;position:relative;overflow:hidden}
.money-panel .current{float:left;height:35px;padding:3px 0;margin-left:10px}
.money-panel .choose{float:left;font-size:1.5em;line-height:41px;margin:0 15px 0 0;color:#777}
.money-panel .hover{position:absolute;left:0;top:41px;width:100%;height:100%;background-color:#fff;color:#777;font-size:1.5em;line-height:41px;text-align:center}
.money-panel .submit{height:43px;line-height:41px;width:120px;font-size:1.7em}
.panel-head{background-color:#f5ecdc;border-top:1px solid #f0e6d4}
#bank-list{padding:20px 68px 10px 59px;height:171px}
#bank-list img{float:left;cursor:pointer;padding:3px;margin:0 10px 10px 0;background-color:#f0e6d2;border-radius:2px}
#bank-list img:hover{background-color:#e8dabf}
#bank-list img.active{background-color:#a3b9ff}
#cash-intro .tip{padding:15px;color:#777;text-align:center;background-color:#f0e3cc;position:relative}
#cash-intro .tip .triangle{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f0e3cc;position:absolute;top:-10px;left:50%;margin-left:-10px}
#cash-intro .tip .btn{padding:0 8px;margin:0 5px;line-height:normal}

.select.fixed{height:19px}
.select.fixed span{float:left}
.select.fixed .text{width:91px}
.panel-head{padding:20px 15px 5px;position:relative;height:176px}
.panel-head .warp{position:absolute;width:930px;top:20px;left:15px}
.panel-head .item{height:29px;margin-bottom:15px}
.panel-head .item .item-name{font-size:1.5em;color:#777;float:left;line-height:29px;margin-right:15px}
.panel-head .item .item-data{float:left}
.panel-head .item .item-data a{padding:5px 12px;border-radius:2px;background-color:#ece0c9;color:#b2a793;border:1px solid #e8dbc1;float:left;margin-right:10px}
.panel-head .item .item-data a:hover{background-color:#e5d7ba;border-color:#e2d3b3}
.panel-head .item .item-data a.active{background-color:#e0cfac;border-color:#dbc9a4}
.panel-head .triangle{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #ecceb1;position:absolute;bottom:0;left:180px}
#bet-panel.panel-head{height:auto;padding:15px 15px 10px}
#bet-panel.panel-head .item{height:auto;margin-bottom:5px;width:930px}
#bet-panel.panel-head .item .item-data,#bet-panel.panel-head .item .item-name{float:none;margin:0 0 5px 0}
#bet-panel.panel-head .item .item-name{float:none;margin-bottom:7px}
#bet-panel.panel-head .item .item-data a{margin-bottom:5px}

#user-setting-dom div.trans{-webkit-transition:all .218s linear;-moz-transition:all .218s linear;transition:all .218s linear;outline:0}
#user-setting-dom .input{border:1px solid #ddd;background-color:rgba(250,248,245,.9);padding:5px;margin-bottom:10px;border-radius:3px}
#user-setting-dom .input.focus{border-color:#abc2d7}
#user-setting-dom .input .icon{font-size:1.6em;color:#000;width:15px;height:15px}
#user-setting-dom .input input{border:none;background-color:rgba(250,248,245,.9);color:#000;margin-left:5px;width:75%;font-size:1.3em;}
#user-setting-dom .bottom{height:38px;line-height:38px;font-size:1.3em;}
#user-setting-dom .bottom label input{vertical-align:-2px}
#user-setting-dom .bottom button{background-color:rgb(239, 159, 80);border:1px solid rgb(236,153,72);color:#fff;width:120px;height:32px;line-height:30px;border-radius:3px;cursor:pointer;float:right;font-size:1.2em;}
#user-setting-dom .bottom button:hover{background-color:rgb(231, 138, 47);border-color:rgb(228,133,40)}

#user-money-dom.common .body{padding:0}
#money-total{background-color:#faf6ef;padding:30px 55px;height:50px;border-bottom:1px solid #e5e5e5}
#money-total .block{float:left;height:50px;line-height:50px;width:299px;border-right:1px solid #e5e5e5;text-align:center;font-size:2.5em}
#money-total .block:last-child{width:300px;border-right:none}
#money-total .block .text{margin-right:5px}
#money-total .block .val{color:#666;font-family:Georgia}
#money-data{padding:15px;height:1000px;width:980px}


#sys-notice-dom .back{background-color:rgba(250,246,239,.75);height:40px;line-height:40px;font-size:1.7em;margin-top:2px;text-align:center;color:#666;display:block}
#sys-notice-dom .back:hover{color:#000}

#home .bonus_data{height:300px;background-color:#fff;position:relative}
#home .bonus_data .bonus_data_more{position:absolute;bottom:20px;right:105px;height:36px;line-height:36px;width:200px;font-size:1.7em}
#recent_bonus_data{float:left;height:280px;width:600px;padding:10px 0}
#yt_bonus_data{width:360px;float:right;border:1px solid #ddd;background-color:#f5f5f5;border-radius:4px;margin:18px 25px 0 0;padding:17px 0}
#yt_bonus_data p{text-align:center;text-transform:uppercase;text-shadow:0 1px 0 #fff}
#yt_bonus_data p.overview_day{font-size:1.4em;font-weight:bold;margin:6px 0 10px;}
#yt_bonus_data p.overview_count{font-size:2.4em;font-weight:bold;color:#333}
#yt_bonus_data p.overview_type{font-size:10px;color:#000;margin:3px 0 10px}
#yt_bonus_data .overview_today,#yt_bonus_data .overview_previous{width:50%;float:left}
#home .agent .body{height:57px;padding:30px 25px 30px 85px}
#home .agent .block{height:57px;float:left;width:300px}
#home .agent .block .icon{font-size:43px;float:left;color:#888}
#home .agent .block .value{font-weight:bold;font-size:2.5em;float:left;width:230px}
#home .agent .block .text{font-size:1.5em;color:#000;}


#cp {z-index:9999; position:fixed; bottom:0; left:0; width:100%; text-align:center;_position:absolute; _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible; background:#ff9900;}
#cp {padding:0; font-size:1.4em;}
#cp .nav {width:20%; float:left; background:url(../image/nav_bg.png) right center repeat-y;padding:10px 0;}
#cp .nav.end {background:none;}
#cp .nav a{text-decoration:none; color:#000; width:100%; height:100%; display:block; float:left;}
#cp .nav a.on {color:#fff;}


#cp .play-nav{position:relative;float:left}
a#home{position:relative}
a#home:after{content:'^';position:absolute;left:45%;top:-10px;margin:0;color:black;}
#cp .play-nav-list{position:absolute;bottom:39px;left:0;width:118px;z-index:2;text-align:left;padding:1px;background:#F90;}
#cp .play-nav-list a{display:block;padding:5px 10px 5px 5px;width:103px;}
#cp .play-nav-list a:hover,
#cp .play-nav-list a.on{background-color:#FFF;}

.common .body table tr.head{height:20px;line-height:20px;font-size:13px;}